<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Link_D</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    @RenderSection("LinkHub",required: false)
    @RenderSection("head", false)
    
</head>
<body style="background-color: #F3F6F8;">
   
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brandn ms-5" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/pics/OIG (1).jpg" class="img-thumbnail border-2 border-dark" alt="Logo" width="50" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav ">
                        @if (User.Identity?.IsAuthenticated == true)
                        {
                             <li class="nav-item">
                                 <button class="btn btn-primary" style="font-weight: bold; border-radius: 20px;margin-right:100px">
                                   LogOut
                                 </button>
                            </li>
                        }
                        else 
                        {
                            @if (!IsSectionDefined("LinkHub"))
                            {
                                <li >
                                    <button class="btn btn-light btn-block d-block border me-3 signup" style=" border-radius: 30px; border-color: black;">
                                        Join now
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <button class="btn btn-primary" style="font-weight: bold; border-radius: 20px;margin-right:100px">
                                        Sign in
                                    </button>
                                </li>
                            }
                        } 
                    </ul>
                </div>
              @*  <div class="navbar-nav navbar-right navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 navbar-right">
                        <li class="nav-item" margin="10px">
                            <button style="font-size:24px">Sign-in <i class="fa fa-sign-in"></i></button>
                        </li>
                        <li class="nav-item" >
                            <button style="font-size:24px">Sign-Up <i class="fa fa-sign-in"></i></button>
                        </li>
                    </ul>
                </div>*@
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
@*            <div class="banner"> @RenderSection("header1", required: false) </div>
*@            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Link_D - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Login.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
